* {
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica", sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: wrap;
    background: white;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

canvas {
    display: none;
}

.window {
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin-left: -1px;
    margin-top: -1px;
    border: solid darkgray 1px;
    position: relative;
    box-shadow: 0 1px white inset;
    overflow: hidden;
    /* filter: drop-shadow( 0 1px 50px rgba(0, 0, 0, 0.3) ); */
}

    /* .window::before {
        position: absolute;
        content: "";
        box-shadow: 0 1px 50px rgba(0, 0, 0, 0.3);
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: -1;
    } */

    .window > h1 {
        background: linear-gradient(lightgray, darkgray);
        padding: 2px 10px;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
        box-shadow: 0 -1px gray inset, 0 1px rgba(255, 255, 255, 0.5) inset;
        font-weight: 500;
        text-align: center;
    }

/* .window > * ~ * {
    margin: 5px 20px 0 20px;
} */

/* .window > *:last-child {
    margin-bottom: 20px;
} */

.break {
    flex-basis: 100%;
}

ol {
    padding: 0;
    margin: 0;
    text-align: center;
}

ol li:not(:last-child) {
    margin-bottom: -1px;
}

.menubarLabel {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.menubarItem {
    width: 100%;
    text-align: left;
    padding: 3px 20px 3px 30px;
    border: solid transparent 1px;
    background: transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    border: solid transparent 1px;
    border-left: none;
    display: flex;
}

    .menubarItem.disabled {
        color: gray;
    }

    .menubarItem.hidden {
        display: none;
    }

    .menubarItem:not(.disabled):hover {
        border: solid rgb(16, 80, 143) 1px;
        border-left: none;
        background: linear-gradient(dodgerblue, rgb(16, 80, 143));
        color: white;
    }

    .shortcut {
        flex-grow: 1;
        text-align: right;
        color: gray;
    }
    
    .menubarItem:not(.disabled):hover .shortcut {
        color: white;
    }

ol li {
    position: relative;
}

    ol li:last-child::after {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: solid gray 1px;
    }

    ol:last-child li:last-child::after {
        display: none;
    }

/* .button {
    border-radius: 999px;
    padding: 3px 20px;
    background: linear-gradient(white, lightgray, white);
    border: solid rgba(100,100,100) 1px;
    margin-bottom: 5px;
    min-width: 100px;
    white-space: nowrap;
    box-shadow: 0 1px darkgray, 0 1px lightgray inset;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

    .button::before {
        content: "";
        border-radius: 999px;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 2px;
        top: 0;
        right: 2px;
        bottom: 60%;
    }

    .button::after {
        content: attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: black;
    }

    .button:active:focus {
        filter: brightness(70%);
    }

    .button:focus {
        box-shadow: 0 0 5px 3px dodgerblue, 0 1px darkgray, 0 1px lightgray inset;
    } */

textarea, input {
    border: solid darkgray 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
    resize: none;
    padding: 3px 10px;
    font-family: inherit;
    margin: 10px;
    outline: none;
    margin-bottom: 0;
}

    textarea:focus, input:focus {
        box-shadow:  0 0 5px 3px dodgerblue;
    }

#edit {
    width: 300px;
    flex-shrink: 0;
}

    #treePropertiesContainer {
        padding-left: 30px;
        font-weight: 500;
    }

    #treePropertiesContainer > input {
        margin: 0 5px;
        width: 50px;
        text-align: center;
        padding-right: 0;
    }

#treeContainer {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

    /* #treeContainer::after {
        content: "✥";
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 25px;
        height: 25px;
        border: solid gray 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        background: white;
    } */

#move {
    width: 250px;
    flex-shrink: 0;
}

#statusContainer {
    display: flex;
    flex-direction: row;
    white-space: pre;
    width: 100%;
    justify-content: center;
    background: lightgray;
    order: 1;
    padding: 3px 0;
    border-top: solid darkgray 1px;
    margin-top: auto;
}

    #statusLabel::after {
        content: ": ";
    }

    #summary {
        border-collapse: collapse;
    }

        #summary th {
            padding: 2px 5px 2px 20px;
        }

        #summary td {
            padding: 2px 20px 2px 5px;
        }
    
        #summary > tr:nth-child(odd) {
            background: rgb(210, 233, 255);
        }

        #summary > tr:nth-child(even) {
            background: white;
        }

#rightPanel {
    display: flex;
    flex-direction: column;
}

    /* #rightPanel > .window:not(:last-child) {
        margin-bottom: 20px;
    } */

#file {
    flex-grow: 1;
}

#insertMenu {
    display: flex;
    flex-direction: column;
}

#treeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: scroll; */
    color: black;
    background-color: white;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) inset;
}

#svg {
    margin-bottom: 0;
    cursor: grab;
    user-select: none;
    margin-top: auto;
}

    .node {
        cursor: pointer;
    }

    #svg:active {
        cursor: grabbing;
    }

    .currentNode {
        filter: drop-shadow( 0 1px 2px black );
    }

.window li {
    list-style: none;
}

th {
    text-align: right;
    font-weight: 500;
}

th::after {
    content: ": ";
}